.flex {
    display: flex;
}

.align-right {
    justify-content: flex-end
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: medium;
}

.monospace {
    font-family: var(--font-mono);
}

.selected {
    background-color: rgb(203, 166, 247);
    color: var(--background);
    padding: 0px 1px;
    border-radius: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
