.flex {
    display: flex;
}

.align-right {
    justify-content: flex-end
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: medium;
}

.monospace {
    font-family: var(--font-mono);
}

.selected {
    
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
